<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/projetos.css">
    <title>Projetos</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="/index.html">Inicio</a>
            <a class="cabecalho-menu-item" href="/src/views/sobre.html">Sobre mim</a>
            <a class="cabecalho-menu-item" href="#">Projetos</a>
            <a class="cabecalho-menu-item" href="/src/views/habilidades.html">Habilidades</a>
        </nav>
        <div class="cabecalho-imagens">
            <img class="cabecalho-imagem" src="/public/imagens/html5.png" alt="Logo HTML">
            <img class="cabecalho-imagem" src="/public/imagens/logocss.png" alt="Logo CSS">
            <img class="cabecalho-imagem" src="/public/imagens/javascript.png" alt="Logo JavaScript">
            <img class="cabecalho-imagem" src="/public/imagens/gitlogo.png" alt="Logo Git">
        </div>
    </header> 

    <main class="conteudo">
        <div class="imagem-container">
            <img class="imagem-container-conteudo" src="/public/imagens/embreve.png">
            <img class="imagem-container-conteudo" src="/public/imagens/embreve.png">
            <img class="imagem-container-conteudo" src="/public/imagens/embreve.png">
            <img class="imagem-container-conteudo" src="/public/imagens/embreve.png">
        </div>

    </main>

     <footer class="rodape">
        <nav class="rodape-conteudo">
            <button class="button-insta">
            <a class="rodape-conteudo-item" href="https://www.instagram.com/gbmmarques/" target="_blank">Instagram</a>
            </button>
            <button class="button-yt">
            <a class="rodape-conteudo-item" href="https://www.youtube.com/channel/UCvxyj3ry7Iyskk_uzX7g-xw" target="_blank">YouTube</a>
            </button>
            <button class="button-email">
            <a class="rodape-conteudo-item" href="mailto:gabrielmmay@hotmail.com" target="_blank">Contato</a>
            </button>
        </nav>
    </footer>







</body>
</html>