<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/portfolio/public/styles/sobre.css">
    <title>Sobre mim</title>
</head>
<body>
    <header class="cabecalho">
        <nav class="cabecalho-menu">
            <a class="cabecalho-menu-item" href="/portfolio/index.html">Inicio</a>
            <a class="cabecalho-menu-item" href="#">Sobre mim</a>
            <a class="cabecalho-menu-item" href="/portfolio/src/views/projetos.html">Projetos</a>
            <a class="cabecalho-menu-item" href="/portfolio/src/views/habilidades.html">Habilidades</a>
        </nav>
        <div class="cabecalho-imagens">
            <img class="cabecalho-imagem" src="/portfolio/public/imagens/html5.png" alt="Logo HTML">
            <img class="cabecalho-imagem" src="/portfolio/public/imagens/logocss.png" alt="Logo CSS">
            <img class="cabecalho-imagem" src="/portfolio/public/imagens/javascript.png" alt="Logo JavaScript">
            <img class="cabecalho-imagem" src="/portfolio/public/imagens/gitlogo.png" alt="Logo Git">
        </div>
    </header>

    <main class="conteudo">
        <section class="conteudo-primario">
            <div class="conteudo-centro">
                <h1 class="conteudo-centro-texto">Oi, me chamo <strong>Gabriel Marques</strong>. Atualmente tenho 18 anos de idade e estou no 1° período de <strong>Ciência da Computação</strong> na FACAPE. Sempre fui um garoto <strong>fascinado por tecnologia e jogos</strong>. A escolha de curso que eu fiz não foi atoa. Sou curioso e gosto de <strong>buscar conhecimento</strong>, principalmente na minha área. </h1>
            </div>
            <div class="conteudo-principal-minhafoto">
                <img src="/portfolio/public/imagens/imgaboutme.png" alt="Minha foto">
            </div>
        </section>

    </main>

    <footer class="rodape">
        <nav class="rodape-conteudo">
            <button class="button-insta">
            <a class="rodape-conteudo-item" href="https://www.instagram.com/gbmmarques/" target="_blank">Instagram</a>
            </button>
            <button class="button-yt">
            <a class="rodape-conteudo-item" href="https://www.youtube.com/channel/UCvxyj3ry7Iyskk_uzX7g-xw" target="_blank">YouTube</a>
            </button>
            <button class="button-email">
            <a class="rodape-conteudo-item" href="mailto:gabrielmmay@hotmail.com" target="_blank">Contato</a>
            </button>
        </nav>
    </footer>
















</body>
</html>