@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;  
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


html {
    height: 100%;
}

body {
    font-size: 100%;
    background-color: #222222;
    line-height: 1.4;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-imagens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.cabecalho-imagem {
    width: 40px;
    margin: 0;
    position: relative;
    text-align: center;
}

.cabecalho-menu-item:hover {
    background-color: rgba(94, 0, 201, 0.53);
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 18px;
    
}

.conteudo {
    border-top: 0.4px solid white;
    margin-bottom: 48px;

}

.conteudo-centro-texto {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 28px;
    text-indent: 8px;
    color: white;
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
}

.conteudo-imagem {
    display: block; 
    margin: 100px auto 0 0; 
    margin-right: 150px;
    float: right;
}

.rodape {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-top: 0.4px solid #FFF2E7;
}

.button-insta {
    background-color: hsl(0, 0%, 19%);
    width: 177px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.button-insta:hover {
    background-color: rgba(94, 0, 201, 0.53);
}

.button-yt {
    background-color: hsl(0, 0%, 19%);
    width: 177px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.button-yt:hover {
    background-color: rgba(94, 0, 201, 0.53);
}


.button-email {
    background-color: hsl(0, 0%, 19%);
    width: 177px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: 'Sarala', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: white;
}

.button-email:hover {
    background-color: rgba(94, 0, 201, 0.53);
}

.rodape-conteudo-item {
    color: white;
}